@(message: String)

@main("Welcome to Play") {

    <div>
        <button onclick="start()">start</button>
    </div>
    <div id="content">
        <div id="timer-section">
            <h3 id="timer"></h3>
        </div>
        <ul id="data-list">
        </ul>
    </div>

}

<script type="application/javascript">
    function start(){
        if(!!window.EventSource){
            var source = new EventSource("@controllers.routes.Application.index()");
            source.addEventListener("message", function(event){
                var data = JSON.parse(event.data);
                $("#timer").text(data.data);
                console.log(data.data);
            },false);

            source.addEventListener("close", function(event){
                source.close();
            },false);
    }
}

</script>
